* {

    /* Familia de fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Grosor de la fuente 200 */
    font-weight: 200;
}

/* Importar la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Aplicar la fuente a todas las etiquetas */
* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none; /* Elimina el subrayado */
}

nav a {
    text-decoration: none; /* Elimina el subrayado por defecto */
}

nav a:hover {
    text-decoration: underline; /* Agrega el subrayado al pasar el mouse */
    cursor: crosshair; /*cambia la forma del cursor*/
}

li {
    list-style: none; /* Elimina las viñetas */
    padding: 0; /* Opcional: elimina el padding por defecto */
    margin: 0; /* Opcional: elimina el margin por defecto */
}

footer ul {
    list-style: none; /* Elimina las viñetas, opcional */
    padding: 0; /* Elimina el padding, opcional */
    margin: 0; /* Elimina el margin, opcional */
    text-align: center; /* Centra el texto dentro de la lista */
}

footer ul li {
    display: inline-block; /* Alinea los elementos de la lista en línea */
    margin: 0 10px; /* Espaciado entre los elementos, opcional */
}


h1 {
    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */
    font-weight: bold;
    color: red;
}

#photo {

    /* Ancho del elemento */
    width: 200px;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgb(107 114 128 / 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}

section {

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;
    /*dash: lineas entrecortadas, punta
 
    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */

    padding-left: 1.2%;
    padding-right: 1.2%;



    /* borde redondeado con un radio de 5 píxeles */

    /* en navegadores basados en WebKit, 
   como versiones antiguas de Safari y Chrome. */
    -webkit-border-radius: 5px;

    /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
    -moz-border-radius: 5px;

    /* en navegadores modernos. */
    border-radius: 5px;


    /* sombra a un elemento */
    -webkit-box-shadow: 7px 7px 3px 1px rgba(107, 79, 107, 0.48);
    -moz-box-shadow: 7px 7px 3px 1px rgba(107, 79, 107, 0.48);
    box-shadow: 7px 7px 3px 1px rgba(107, 79, 107, 0.48);

}